[submodule "MiCard-Flutter"]
	path = MiCard-Flutter
	url = https://github.com/SifatIbna/MiCard-Flutter.git
[submodule "Dice-Flutter"]
	path = Dice-Flutter
	url = https://github.com/SifatIbna/Dice-Flutter.git
[submodule "Flutter-GetX-Boilerplate"]
	path = Flutter-GetX-Boilerplate
	url = https://github.com/SifatIbna/Flutter-GetX-Boilerplate.git
